@model Nop.Plugin.ExternalAuth.Xumm.Models.ConfigurationModel

@{
    Layout = "_ConfigurePlugin";
}

<script>
    $(document).ready(function () {
        $("#btnShowHideSecrets").on('click', function (event) {
            event.preventDefault();
            if ($('#liveApiKey input').attr("type") === "text") {
                $('#liveApiKey input').attr('type', 'password');
                $('#liveApiSecret input').attr('type', 'password');
            } else {
                $('#liveApiKey input').attr('type', 'text');
                $('#liveApiSecret input').attr('type', 'text');
            }
        });
    });
</script>

<form asp-controller="XummAuthentication" asp-action="Configure" method="post">
    <section class="content">
        <div class="container-fluid">
            <div class="card card-default">
                <h5 class="card-header">@Html.Raw(T("Plugins.ExternalAuth.Xumm.Section.ApiSettings").Text)</h5>
                <div class="card-body">
                    @Html.Raw(string.Format(T("Plugins.ExternalAuth.Xumm.Section.ApiSettings.Instructions").Text, string.Join(", ", Model.RedirectUris.Keys)))
                    <div class="form-group row">
                        <div class="col-md-3">
                            <nop-label asp-for="ApiKey" />
                        </div>
                        <div class="col-md-6" id="liveApiKey">
                            <nop-editor asp-for="ApiKey" asp-required="true" html-attributes="@(new { @class = Model.ApiCredentialsProvided && !Model.ValidApiCredentials ? "form-control is-invalid" : "form-control", @type = "password" })" asp-render-form-control-class="false" />
                            <span asp-validation-for="ApiKey"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <nop-label asp-for="ApiSecret" />
                        </div>
                        <div class="col-md-6" id="liveApiSecret">
                            <nop-editor asp-for="ApiSecret" asp-required="true" html-attributes="@(new { @class = Model.ApiCredentialsProvided && !Model.ValidApiCredentials ? "form-control is-invalid" : "form-control", @type = "password" })" asp-render-form-control-class="false" />
                            <span asp-validation-for="ApiSecret"></span>
                        </div>
                    </div>
                    @if (Model.ValidApiCredentials)
                    {
                        <div class="form-group row" id="liveRedirectUrl">
                            <div class="col-md-3">
                                <nop-label asp-for="RedirectUris" />
                            </div>
                            <div class="col-md-6">
                                @foreach (var redirectUrl in Model.RedirectUris)
                                {
                                    <div class="input-group input-group-required">
                                        <input class="form-control text-box single-line @(!redirectUrl.Value ? "is-invalid": "")" disabled="disabled" type="text" value="@redirectUrl.Key">
                                        <div class="input-group-btn"><span class="required">*</span></div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    <div class="form-group row">
                        <div class="col-md-6 offset-md-3">
                            <input type="submit" name="save" class="btn btn-primary" value="@T("Admin.Common.Save")" />
                            <input id="btnShowHideSecrets" type="button" class="btn btn-secondary" value="@T("Plugins.ExternalAuth.Xumm.Button.ShowHideSecrets")" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>